.mainNav {
	width: 100vw;
	height: 7vh;
	background-color: #222222a9;
	display: flex;
    padding: 1vh 0vh;
}

.hidden {
	display: none;
}

.test {
    height: inherit;
	width: 50vw;
	/* border: solid white 2px; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.test2 {
    height: inherit;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#olsoLogo{
    filter: invert(0);
    height: inherit;
}
.logo {
	height: 3vh;
	filter: invert(1);
}

.logoLink {
    padding: 1vh 1vh;
	color: white;
	/* height: 5vh; */
	width: 2vw;
}



